@{
    Layout="_adminpanellayout";
}

@model CategoryModel

<div class="row" style="margin-bottom: 250px;">
    <div class="col-md-4" >
        <h1 class="h3">Edit Category</h1>
        <hr>
            <form asp-controller="Admin" asp-action="CategoryEdit" method="POST">
                <input type="hidden" name="CategoryId" value="@Model.CategoryId">
                <div class="form-group row">
                    <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ProductUrl" class="col-sm-2 col-form-label">Url</label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="ProductUrl">
                        <span asp-validation-for="ProductUrl" class="text-danger"></span>
                    </div>
                </div>       
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Save Category</button>
                    </div>
                </div>
                <div id="products">
                </div> 
            </form>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12"> 
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Products</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Products Lists</h6>
                            </div>
                                <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-sm text-gray-800" id="dataTable" width="100%"  cellspacing="0">
                                            <thead >
                                                <tr>
                                                    <td style="width: 30px;">Id</td>
                                                    <td style="width: 100px;">Image</td>
                                                    <td>Name</td>
                                                    <td>Details</td>
                                                    <td>Popular Product</td>
                                                    <td>Approval Status</td>
                                                    <td style="width: 20px;">Price</td>
                                                    <td style="width: 150px;"></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if(Model.Products.Count>0)
                                                {
                                                        @foreach (var item in Model.Products)
                                                        {
                                                            <tr>
                                                                <td>@item.ProductId</td>
                                                                <td><img src="~/img/@item.ImgUrl" width="80"></td>
                                                                <td>@item.Name</td>
                                                                <td>@item.Description</td>
                                                                <td>
                                                                    @if(item.IsPopular)
                                                                    {
                                                                        <i class="fas fa-check-circle"></i>
                                                                    }
                                                                    else
                                                                    {
                                                                        <i class="fas fa-times-circle"></i>
                                                                    }
                                                                </td>
                                                                <td> 
                                                                        @if(item.IsApproved)
                                                                    {
                                                                        <i class="fas fa-check-circle"></i>
                                                                    }
                                                                    else
                                                                    {
                                                                        <i class="fas fa-times-circle"></i>
                                                                    }
                                                                </td>
                                                                <td>@item.Price</td>
                                                                <td>
                                                                    <a href="/admin/EditProduct/@item.ProductId" class="btn btn-primary btn-sm mr-2">Edit</a>
                                                                    <form action="/admin/deletefromcategory" method="POST" style="display: inline;">
                                                                        <input type="hidden" name="productId" value="@item.ProductId">
                                                                        <input type="hidden" name="categoryId" value="@Model.CategoryId">
                                                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                                                    </form>
                                                                    
                                                                </td>
                                                        </tr>
                                                        }
                                                }
                                                else{
                                                    <div class="alert alert-warning">
                                                        <h3>No Products</h3>
                                                    </div>
                                                }
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>    
      
    </div> 
</div>
@section Scripts
{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}